<%= form_tag restaurants_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], id: "search_field" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% if @restaurants.blank? %>
  <h3>There are no restaurants containing the term <%= params[:search] %></h3>
<% end %>