<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Up votes:</strong>
  <%= @restaurant.votes.count %>
  <%= button_to 'Up Vote', upvote_restaurant_path(@restaurant), method: :post %></td>
</p>

<p>
  <strong>Down votes:</strong>
  <%= @restaurant.downvotes.count %>
  <%= button_to 'Down Vote', downvote_restaurant_path(@restaurant), method: :post %></td>
</p>

<%= link_to 'Back', restaurants_path %>
