<!DOCTYPE html>
<html>
<head>
  <title>Splitthecheck</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="search">
  <%= render :partial => 'restaurants/search' %>
</div>
<%= yield %>

</body>
</html>
